.topIntro {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  font-size: 1.5em;
}

.btn {
  border: 2px solid #000000;
  border-radius: 25px;
  padding: 0.5em;
  background-color: #000000;
  color: #ffffff;
  font-weight: 500;
  font-size: 0.9rem;
  transition: transform 0.2s ease-in-out;
  font-family: "Gothic A1", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.btn:hover {
  background-color: #f2a68d;
  color: #000000;
}

#my_pic {
  width: 20em;
  height: 20em;
  border-radius: 170px;
}

#intro_text {
  padding-top: 4.5em;
}
