.App {
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-around;
}

#banner {
  display: flex;
  justify-content: space-between;
}

#intro {
  display: flex;
}

#my_pic {
  flex: 1;
}

#intro_text {
  flex: 2;
}
