.app {
  text-align: center;
  font-family: "Gothic A1", sans-serif;
  font-weight: 300;
  font-size: 1.1em;
  line-height: 1.5;
  color: #000000;
  background-color: #f3dcd4;
  padding: 2em;
}

#banner {
  display: flex;
  justify-content: end;
}

#intro {
  display: flex;
}

.one_flex {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex: 1;
}

.two_flex {
  flex: 2;
}

.techs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* margin-bottom: 0.2em; */
}

.tech {
  border: 2px solid;
  border-radius: 25px;
  padding: 0.2em;
  margin-left: 0.3em;
  margin-bottom: 0.3em;
  justify-self: center;
  background-color: #f7d8ce;
  box-shadow: 0 0 0.6em #000000;
  border-color: #000000;
}

.space_vertical {
  margin-bottom: 1em;
}

.clickable {
  display: inline-block;
  position: relative;
  cursor: pointer;
  color: #000000;
  font-weight: 700;
  font-size: 0.9rem;
  font-family: "Gothic A1", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;

  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

.clickable:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f2a68d;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.clickable:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.clickable:hover {
  color: #f2a68d;
}

a {
  text-decoration: none;
  color: black;
}

h3 {
  letter-spacing: 3px;
  background-image: linear-gradient(120deg, #f2a68d 0%, #c09d92 100%);
  background-repeat: no-repeat;
  background-size: 9% 0.3em;
  background-position: 50% 88%;
  transition: background-size 0.25s ease-in;
}
