.project {
  display: flex;
  align-items: center;
  border: 2px solid;
  border-radius: 15px;
  padding: 1em;
  margin-bottom: 1em;

  outline: none;
  border-color: #000000;
  box-shadow: 0 0 1em #000000;
  border-width: 0.05em;
  /* background-color: #f2a68d; */
}

.project_tech {
  border: 2px solid;
  border-radius: 25px;
  padding: 0.2em;
  margin-left: 0.3em;
  margin-bottom: 0.3em;
  justify-self: center;
}

.project_description {
  overflow: hidden;
}

.source_code {
  border-radius: 25px;
  padding: 0.3em;
  transition: all 0.2s ease-in-out;
  border: 2px solid #000000;
  background-color: #000000;
  color: #ffffff;

  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

.source_code:hover {
  background-color: #f2a68d;
  color: #000000;
}

.WeeCubs_gif {
  width: 25em;
  height: 15em;
  border-radius: 25px;
  /* margin-top: 2.5em; */
}

.Leaft_gif {
  width: 15em;
  height: 23em;
  border-radius: 25px;
  /* margin-top: 0.5em; */
}

.Atelier_gif {
  width: 25em;
  height: 15em;
  border-radius: 25px;
  /* margin-top: 3%; */
}

.rubrique {
  letter-spacing: 3px;
}
